@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.avatar {
    width: 100%;
}

header{
    background-color: rgb(22, 19, 19);
    display: flex;
    flex-direction: column;
}

.info  {
    color: #00ff77;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.presen {
    padding: 15px 10px 15px 10px;
    text-align: center;
    font-weight: 550;
    font-size: 16px;
}

.esto {
    color: whitesmoke;
    background-color: rgb(48, 41, 41);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-style: italic;
    color: black;
    background-color: #00ff77;;
    font-size: 20px;
}

@media only screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .avatar {
        width: 35%;
        order: 1;
    }
    .esto {
        display: flex;
        flex-direction: row;
    }
}